doctype html
html
	head
		meta(charset="utf-8")
		title='Market Place'
		link(rel='stylesheet' href='../dist/output.css')
	body
		- var divStyle = ['lg:p-24', 'lg:mx-auto', 'lg:my-16', 'font-mono']
		- var h1Style = ['text-center', 'font-serif', 'lg:text-4xl', 'lg:mb-8', 'lg:mx-auto']
		- var pStyle = ['lg:py-4', 'text-center', 'lg:mx-auto']
		- var buttonStyle = ['lg:inline-block', 'lg:py-1', 'rounded', 'bg-sky-500', 'focus:bg-sky-700', 'hover:bg-sky-700', 'lg:px-8', 'lg:mr-6']
		- var aStyle = []
		.container(class=divStyle)
			h1.my-2(class=h1Style)='Welcome to'
				em.pl-2(class='text-5xl')='Thrift'
			p(class=pStyle)
				a(class=aStyle href='/login')
					button(class=buttonStyle)='Login'
				a(class=aStyle href='/register')
					button(class=buttonStyle)='Register'
			p(class=pStyle)
				a(class=aStyle class='underline' href='/products')='Browse products...'
