doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title='Login'
		link(rel='stylesheet' href='../dist/output.css')
		script(defer type='module' src='../dist/bundle.js')
	body
		- var divStyle = ['block', 'max-w-lg', 'lg:w-1/2', 'lg:p-10', 'md:px-0', 'my-15', 'mx-auto', 'my-16', 'font-sans', 'rounded', 'border-4' ]
		- var buttonStyle = ['my-4', 'lg:inline-block', 'py-1', 'rounded', 'bg-sky-500', 'hover:bg-sky-700', 'focus:bg-sky-700', 'px-8', 'w-50', 'focus:outline-none', 'mx-auto' ]
		- var formStyle = ['mx-auto']
		- var hStyle = ['py-4', 'text-xl', 'w-full', 'text-center']
		- var inputStyle = ['mx-auto', 'md:block', 'lg:inline-block', 'text-center', 'lg:w-72', 'border-gray-400', 'rounded', 'focus:outline-none', 'border']
		- var labelStyle = ['mx-auto', 'md:block', 'lg:inline-block', 'lg:w-20']
		- var fieldBox = []
		- var field = ['py-1', 'w-fit', 'mx-auto']

		.container(class=divStyle)
			.container(class=hStyle)
				h1 Enter either your email or phone number...
			Form#login(class=formStyle method='post')
				fieldset(class=fieldBox)
					.container(class=field)
						label(class = labelStyle for='email') Email:
						input#email(class=inputStyle type='email')
					.container(class=field)
						label(class = labelStyle for='phone') Phone:
						input#phone(class=inputStyle type='tel')
					.container(class=field)
						label(class = labelStyle for='password') Password:
						input#password(class=inputStyle type='password')
				.container(class=field)
					button(class=buttonStyle type='submit') login
